{% extends 'base.html.twig' %}

{% block title %}Úkol{% endblock %}

{% block body %}
    <h1>Úkol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Název</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Popis</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Dokončeno</th>
                <td>{{ task.isCompleted ? 'Ano' : 'Ne' }}</td>
            </tr>
            <tr>
                <th>Vytvořeno</th>
                <td>{{ task.createdAt ? task.createdAt|date('d.m.Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_index') }}" class="btn btn-secondary">Zpět na seznam</a>
    <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-warning">Upravit</a>
    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
